# Start with a Deny all
*

# --- API description
!api/
!api/*

# --- Application code
!application/
!application/lambdas
!application/layers

!application/lambdas/*/
!application/layers/*/

# Authorized contents in a Lambda package
!application/lambdas/*/*.js
!application/lambdas/*/package.json
!application/lambdas/*/yarn.lock

# Authorized contents in a Layer package
!application/layers/*/nodejs/
!application/layers/*/nodejs/node_modules/
!application/layers/*/nodejs/node_modules/*.js

# --- Infrastructure code
!infrastructure/

# Modules
!infrastructure/modules/
!infrastructure/modules/global/
!infrastructure/modules/project/
!infrastructure/modules/global/*/
!infrastructure/modules/project/*/
!infrastructure/modules/global/*/*.tf
!infrastructure/modules/project/*/*.tf

# Module templates
!infrastructure/modules/*/*/templates
!infrastructure/modules/*/*/templates/*.tpl

# Origins
!infrastructure/origins/
!infrastructure/origins/*/
!infrastructure/origins/*/*.tf

# Special cases
!infrastructure/origins/moduled/dependen*/
!infrastructure/origins/moduled/dependen*/*.tf

!infrastructure/origins/large-project/modules/
!infrastructure/origins/large-project/modules/*/
!infrastructure/origins/large-project/modules/*/*.tf

# Other files
!.gitignore
!LICENSE
!README.md
